<div class="loading" *ngIf="!loading">
  <div class="loadingio-spinner-double-ring-pl77fplgsh">
    <div class="ldio-bnqx2lnyqy9">
      <div></div>
      <div></div>
      <div>
        <div></div>
      </div>
      <div>
        <div></div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loading">
  <div class="allTable">
    <div class="filtro">
      <mat-form-field appearance="standard">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="P/e: Pablo" #input>
      </mat-form-field>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="cliente">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Cliente </th>
          <td mat-cell *matCellDef="let row"> {{row.travelEquipmentDTOs[row.travelEquipmentDTOs.length -
            1].equipment.cliente.fullName}}
          </td>
        </ng-container>

        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección </th>
          <td mat-cell *matCellDef="let row"> {{row.travelEquipmentDTOs[row.travelEquipmentDTOs.length -
            1].equipment.cliente.address}} </td>
        </ng-container>


        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element">
            <mat-select placeholder="estados" [(ngModel)]="element.lastStatusTravel">
              <mat-option *ngFor="let item of arrayEstados,let i = index" [value]="i+1" (click)="change(element)">
                {{item}}
              </mat-option>
            </mat-select>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No hay datos que coincidan con "{{input.value}}"</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5]" aria-label="Selecciona las páginas">
      </mat-paginator>
    </div>
  </div>
</div>
