<div class="loading" *ngIf="!loading">
  <div class="loadingio-spinner-double-ring-pl77fplgsh">
    <div class="ldio-bnqx2lnyqy9">
      <div></div>
      <div></div>
      <div>
        <div></div>
      </div>
      <div>
        <div></div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loading">
  <div class="allTable">
    <div class="filtro">
      <mat-form-field appearance="standard">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="P/e: Pablo" #input>
      </mat-form-field>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre completo</th>
          <td mat-cell *matCellDef="let row" [ngStyle]="{'background-color': row.isDeleted ? '#4b4988' : ''}">
            {{row.fullName}}
          </td>
        </ng-container>
        <ng-container matColumnDef="direccion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Dirección</th>
          <td mat-cell *matCellDef="let row" [ngStyle]="{'background-color': row.isDeleted ? '#4b4988' : ''}">
            {{row.address}}
          </td>
        </ng-container>


        <ng-container matColumnDef="telefono">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
          <td mat-cell *matCellDef="let row" [ngStyle]="{'background-color': row.isDeleted ? '#4b4988' : ''}">
            {{row.cellPhone}}
          </td>
        </ng-container>

        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
          <td mat-cell *matCellDef="let row" [ngStyle]="{'background-color': row.isDeleted ? '#4b4988' : ''}">
            {{row.email}}
          </td>
        </ng-container>

        <ng-container matColumnDef="vehiculo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Vehiculo</th>
          <td mat-cell *matCellDef="let row" [ngStyle]="{'background-color': row.isDeleted ? '#4b4988' : ''}">
            {{row.vehicle?.name || "-"}}
          </td>
        </ng-container>

        <ng-container matColumnDef="elimMod">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Eliminar/Modificar</th>
          <td mat-cell *matCellDef="let row" [ngStyle]="{'background-color': row.isDeleted ? '#4b4988' : ''}">
            <div class="eliMod">
              <div *ngIf="row.isDeleted != true">
                <button mat-icon-button>
                  <mat-icon [ngStyle]="{'color':'white'}" (click)="show(row)">assignment</mat-icon>
                </button><button mat-icon-button>
                  <mat-icon [ngStyle]="{'color':'white'}" (click)="deleteUser(row)">close</mat-icon>
                </button>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No hay datos que coincidan con "{{input.value}}"</td>
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5]" aria-label="Selecciona las páginas">
      </mat-paginator>
    </div>
  </div>
</div>
