<div class="container">
  <mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">
        menu
      </mat-icon>
      <mat-icon *ngIf="sidenav.opened">
        close
      </mat-icon>
    </button>
    <div class="logo">TODO IT</div>
    <div class="imagen"><img src="../../../../assets/loginHome.png" alt="" width="60px" height="60px"></div>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z4">
      <img src="../../../../assets/userLogo.png" alt="" width="80%" height="25%">
      <h4 class="name">{{nameAdmin}}</h4>
      <p class="designation">Administrador</p>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" (click)="registro()">
        <mat-icon>how_to_reg</mat-icon>
        <span>Registro</span>
      </button>
      <button mat-button class="menu-button" (click)="viajes()">
        <mat-icon>airplanemode_active</mat-icon>
        <span>Viajes</span>
      </button>
      <button mat-button class="menu-button" (click)="historial()">
        <mat-icon>history</mat-icon>
        <span>Historial viajes</span>
      </button>
      <button mat-button class="menu-button" (click)="listas()">
        <mat-icon>list</mat-icon>
        <span>Listas</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-button class="menu-button" (click)="clearStorage()" routerLink="/auth/login">
        <mat-icon>close</mat-icon>
        <span>Cerrar sesión</span>
      </button>
    </mat-sidenav>
    <mat-sidenav-content style="overflow: hidden;">
      <div class="content ">
        <!--REGISTRO-->
        <div class="register" *ngIf="register">
          <app-form-register></app-form-register>
        </div>

        <!--VIAJES-->
        <div class="selectTravel" *ngIf="travels">
          <mat-form-field appearance="standard">
            <mat-label>Selecciona una opción</mat-label>
            <mat-select [(value)]="selected" (click)="capturar()">

              <mat-option value="viajesActivos" (click)="viajes()">
                Viajes activos
              </mat-option>

              <mat-option value="viajesPendientes">
                Viajes pendientes
              </mat-option>
              <mat-option value="viajesEnCurso">
                Viajes en curso
              </mat-option>

            </mat-select>
          </mat-form-field>
          <app-table-active *ngIf="selected === 'viajesActivos'"></app-table-active>
          <app-table-pending *ngIf="selected === 'viajesPendientes'"></app-table-pending>
          <app-table-course *ngIf="selected === 'viajesEnCurso'"></app-table-course>
        </div>

        <!--HISTORIAL-->
        <div class="history" *ngIf="history">
          <h1 class="title">HISTORIAL</h1>
          <app-table-history></app-table-history>
        </div>

        <!--LISTAS-->
        <div class="selectTravel" *ngIf="list">

          <mat-form-field appearance="standard">
            <mat-label>Selecciona una opción</mat-label>
            <mat-select [(value)]="selected" (click)="capturar()">

              <mat-option value="admin">
                Administradores
              </mat-option>

              <mat-option value="clients">
                Clientes
              </mat-option>
              <mat-option value="cadet">
                Cadetes
              </mat-option>
              <mat-option value="todos">
                Todos los usuarios
              </mat-option>

            </mat-select>
          </mat-form-field>
          <app-table-list-admins *ngIf="selected === 'admin'"></app-table-list-admins>
          <app-table-list-cadets *ngIf="selected === 'cadet'"></app-table-list-cadets>
          <app-table-list-users *ngIf="selected === 'clients'"></app-table-list-users>
          <app-table-list-all *ngIf="selected === 'todos'"></app-table-list-all>


        </div>


      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
