mat-toolbar {
  background: none;
  color: white;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #4b4988;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  .selectTravel {
    width: 100%;

    .mat-form-field {
      font-size: 14px;
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: transparent;
      border-top-left-radius: 20px; // esquina superior izquierda
      border-top-right-radius: 20px; // esquina superior derecha
    }
  }
  width: 90%;
  height: calc(100vh - 1em);
  //margin: 16px;
  margin-left: 8em;
  margin: 2em;
  font-size: 1.5rem;
  border-radius: 10px;
  app-table {
    max-width: 20%;
  }
}

mat-sidenav-container {
  height: calc(100vh - 65px);
  background: none;
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
  }
}

.name {
  margin: 0;
  margin-top: 8px;
  font-weight: normal;
}
.designation {
  margin-top: 2px;
  font-size: 0.8rem;
  color: lightgray;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

::ng-deep .mat-form-field {
  .mat-input-element {
    color: slategray;
  }
  .mat-form-field-label {
    color: slategray;
  }
  .mat-form-field-underline {
    background-color: slategray;
  }
  .mat-form-field-ripple {
    background-color: slategray;
  }
  .mat-form-field-required-marker {
    color: slategray;
  }
}

::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: #ffffff;
  }
  .mat-form-field-ripple {
    background-color: #ffffff;
  }
  .mat-form-field-required-marker {
    color: #ffffff;
  }
  .mat-input-element {
    color: #fffdfb;
  }
}

//LOADING

.loading {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes ldio-bnqx2lnyqy9 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-bnqx2lnyqy9 div {
  box-sizing: border-box !important;
}
.ldio-bnqx2lnyqy9 > div {
  position: absolute;
  width: 72px;
  height: 72px;
  top: 14px;
  left: 14px;
  border-radius: 50%;
  border: 8px solid #000;
  border-color: #ffffff transparent #ffffff transparent;
  animation: ldio-bnqx2lnyqy9 1.1111111111111112s linear infinite;
}

.ldio-bnqx2lnyqy9 > div:nth-child(2),
.ldio-bnqx2lnyqy9 > div:nth-child(4) {
  width: 54px;
  height: 54px;
  top: 23px;
  left: 23px;
  animation: ldio-bnqx2lnyqy9 1.1111111111111112s linear infinite reverse;
}
.ldio-bnqx2lnyqy9 > div:nth-child(2) {
  border-color: transparent #fefefe transparent #fefefe;
}
.ldio-bnqx2lnyqy9 > div:nth-child(3) {
  border-color: transparent;
}
.ldio-bnqx2lnyqy9 > div:nth-child(3) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-bnqx2lnyqy9 > div:nth-child(3) div:before,
.ldio-bnqx2lnyqy9 > div:nth-child(3) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: -8px;
  left: 24px;
  background: #ffffff;
  border-radius: 50%;
  box-shadow: 0 64px 0 0 #ffffff;
}
.ldio-bnqx2lnyqy9 > div:nth-child(3) div:after {
  left: -8px;
  top: 24px;
  box-shadow: 64px 0 0 0 #ffffff;
}

.ldio-bnqx2lnyqy9 > div:nth-child(4) {
  border-color: transparent;
}
.ldio-bnqx2lnyqy9 > div:nth-child(4) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}
.ldio-bnqx2lnyqy9 > div:nth-child(4) div:before,
.ldio-bnqx2lnyqy9 > div:nth-child(4) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  top: -8px;
  left: 15px;
  background: #fefefe;
  border-radius: 50%;
  box-shadow: 0 46px 0 0 #fefefe;
}
.ldio-bnqx2lnyqy9 > div:nth-child(4) div:after {
  left: -8px;
  top: 15px;
  box-shadow: 46px 0 0 0 #fefefe;
}
.loadingio-spinner-double-ring-pl77fplgsh {
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-bnqx2lnyqy9 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-bnqx2lnyqy9 div {
  box-sizing: content-box;
}
/* generated by https://loading.io/ */
